results/*
lolv1_offical_results/*
# Python 缓存
__pycache__/
*.py[cod]
*.pyo

# 模型权重
*.pth

# 日志文件（如果有）
*.log
experiments/*
decom_tools/experiments/
tb_logger/IC-600x400/IC-FSRNet/pretrained_model1111/pretrained_model.zip
IC-600x400/IC-FSRNet/pretrained_model1111/pretrained_model.zip
tb_logger/
